In [1]:
import pandas as pd
wine_reviews = pd.read_csv("/home/oktavianu/data/winemag-data-130k-v2.csv")

In [3]:
# check price data type
wine_reviews.price.dtypes

dtype('float64')

In [4]:
# or check the data types of every column
wine_reviews.dtypes

Unnamed: 0                 int64
country                   object
description               object
designation               object
points                     int64
price                    float64
province                  object
region_1                  object
region_2                  object
taster_name               object
taster_twitter_handle     object
title                     object
variety                   object
winery                    object
dtype: object

In [5]:
# converting data type of points from int64 to float64
wine_reviews.points.astype('float64')

0         87.0
1         87.0
2         87.0
3         87.0
4         87.0
          ...
129966    90.0
129967    90.0
129968    90.0
129969    90.0
129970    90.0
Name: points, Length: 129971, dtype: float64

In [6]:
# A DataFrame or Series index has its own dtype, too:
wine_reviews.index.dtype

dtype('int64')

In [13]:
# MISSING DATA
# NaN entries we can use pd.isnull() (or its companion pd.notnull()). This is meant to be used thusly:
wine_reviews.price.isnull().sum()

8996

In [8]:
# Replacing missing values is a common operation. Pandas provides a really handy method for this problem: fillna(). fillna() provides a few 
# different strategies for mitigating such data. For example, we can simply replace each NaN with an "Unknown":
wine_reviews.region_2.fillna('unknown')

0                   unknown
1                   unknown
2         Willamette Valley
3                   unknown
4         Willamette Valley
                ...
129966              unknown
129967         Oregon Other
129968              unknown
129969              unknown
129970              unknown
Name: region_2, Length: 129971, dtype: object

In [9]:
# replace a value using replace() method
wine_reviews.taster_twitter_handle.replace("@kerinokeefe", "@kerino")

0             @kerino
1          @vossroger
2         @paulgwine
3                 NaN
4         @paulgwine
             ...
129966            NaN
129967    @paulgwine
129968     @vossroger
129969     @vossroger
129970     @vossroger
Name: taster_twitter_handle, Length: 129971, dtype: object

In [18]:
# Sometimes the price column is null. How many reviews in the dataset are missing a price?
n_missing_prices = wine_reviews.price.isnull().sum()
n_missing_prices

8996

In [19]:
# another solution
missing_price_reviews = wine_reviews[wine_reviews.price.isnull()]
n_missing_prices = len(missing_price_reviews)
n_missing_prices

8996

In [21]:
# another solution
n_missing_prices = pd.isnull(wine_reviews.price).sum()
n_missing_prices

8996

In [ ]:
Create a Series counting the number of times each value occurs in the region_1 field. This field is often missing data, so replace missing values with Unknown
reviews_per_region =